@tailwind base;

body {
  background-color: #FFFFFF;
}

@tailwind components;

@tailwind utilities;

.container {
  @apply max-w-screen-xl px-4 mx-auto;
}

@screen md {
  .container {
    @apply px-6;
  }
}

@screen lg {
  .container {
    @apply px-8;
  }
}

#image {
  width: 444px;
  height: 342px;
}

button  {
  @apply font-ibm-mono;
  font-weight: 600;
}

input[type="search"] {
  @apply  text-left text-black w-full font-ibm-mono px-4 py-[17px] rounded-lg appearance-none border-3 shadow-small-shadow border-black ;
  font-size: 0.9rem;
  color: black;
  height: 35px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input[type="search"] .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: black;
}

input[type="checkbox"] {
  @apply  w-3 h-3 text-sm text-gray-600 rounded-sm;

}


.ais-SearchBox-submit, .ais-SearchBox-reset {
  display: none;
}
.cta {
  @apply px-2 py-1 text-white bg-black border-2 border-black rounded-md font-ibm-mono;
}

@media only screen and (max-width: 600px) {
  .cta { 
  @apply px-2 py-1 text-xs text-white bg-black border-2 border-black rounded-md font-ibm-mono;
  }

}

.cta:hover {
  @apply text-black bg-white;
}

.ais-Hits-list {
 display: flex;
 flex-wrap: wrap;
 margin: -10px;
}

.ais-Hits-item{
  flex-basis: 25%;
padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-black font-ibm-serif;
}

p,  span, a {
  @apply text-black font-ibm-mono;
}

li {
  @apply font-sans text-black;
}


#mobile-alg > div > a > svg {
  opacity: 100%;
  width:70px;
}

#mobile-alg > div > span {
  padding-left:20px;
}

#mobile-alg > div > a > svg > path:nth-child(4) {
  fill: #ffffff;
}

#power {
  height: 3.85rem;
}
input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
    }


@media only screen and (max-width: 600px) {
  .ais-Hits-list {
    @apply grid-flow-row grid-cols-1;
  }
  .ais-Hits-item {
    flex-basis: 100%;
    padding: 7px;
  }
  
}


/* To hero, add background-image' */



#hero {
  background-image: url('/animals.png');
  width: 100%;
  height: 28rem;
  background-size: 63%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Blur the background image  on scroll */


/* Set smooth scrolling */
html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
 #hero {
  background-image: url('/animals.png');
  width: 100%;
  height: 22rem;
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: center 20px;

 }
}

#searchbar {
  position: sticky;
  top: 0;
  z-index: 1;
  position:-webkit-sticky;
  
}