@tailwind base;

body {
  background-color: #FFFFFF;
}

.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffde00 65%);
  display: inline;
}
@tailwind components;

@tailwind utilities;

.container {
  @apply max-w-screen-xl mx-auto px-4;
}

@screen md {
  .container {
    @apply px-6;
  }
}

@screen lg {
  .container {
    @apply px-8;
  }
}

#image {
  width: 444px;
  height: 342px;
}



input[type="search"] {
  @apply  text-left px-4 py-[17px] rounded-lg appearance-none border-3 shadow-small-shadow border-black ;
  width: 100%!important;
  font-size: 0.9rem;
  height: 35px!important;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input[type="search"] .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input[type="checkbox"] {
  @apply  w-3 h-3 text-sm text-gray-600 rounded-sm;

}

.ais-RefinementList-labelText {
  @apply px-2 py-1 text-sm font-semibold rounded text-light-gray;
}
.ais-SearchBox-submit, .ais-SearchBox-reset {
  display: none;
}
.cta {
  @apply px-2 py-1 text-white bg-black border-2 border-black rounded-md font-ibm-mono;
}

.cta:hover {
  @apply text-black bg-white;
}

.ais-Hits-list {
 display: flex;
 flex-wrap: wrap;
 margin: -10px;
}

.ais-Hits-item{
  flex-basis: 25%;
padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-black font-ibm-serif;
}

p, li, span {
  @apply text-black font-ibm-mono;
}

.ais-PoweredBy-text {
  @apply mx-auto font-semibold text-right text-black text-xxs;
}
.ais-PoweredBy-logo {
  width:70px;
}

#mobile-alg > div > a > svg {
  opacity: 100%;
  width:70px;
}

#mobile-alg > div > span {
  padding-left:20px;
}

#mobile-alg > div > a > svg > path:nth-child(4) {
  fill: #ffffff;
}

#power {
  height: 3.85rem;
}
input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
    }


@media only screen and (max-width: 600px) {
  .ais-Hits-list {
    @apply grid-flow-row grid-cols-1;
  }
  .ais-Hits-item {
    flex-basis: 100%;
    padding: 7px;
  }
  input[type="search"] {
    @apply px-16 py-4 text-sm text-center text-black rounded-lg appearance-none shadow-orange bg-light-gray ;

  }
}

.ais-Highlight-highlighted {
  background: #ffde00;
  color: #000;
  display: inline;
  
}

.ais-RefinementList-showMore {
  @apply flex items-center justify-center px-2 py-1 mt-2 font-extrabold tracking-wide text-center text-white uppercase transition duration-200 ease-in rounded-sm bg-lime text-mxs;
}

.ais-ClearRefinements-button {
  @apply flex items-center justify-center px-4 py-1 mt-4 font-bold tracking-wide text-center uppercase bg-gray-700 rounded-lg text-light-gray text-mxs;

}
.ais-RefinementList-count {
  @apply px-1 text-sm font-medium bg-gray-800 rounded text-light-gray;
}

.highlight-border {
  @apply border-transparent border-solid border-gradient-br-pink-red-yellow-accent-gray border-1;
}

.highlight-text {
  @apply  text-transparent bg-clip-text bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500;
}

.ais-RefinementList.categoryList > span > .ais-RefinementList-labelText {
  font-size: 5px;
}

/* Add background image to cow id */
#cow {
  background-image: url('/cow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}