@tailwind base;

body {
  background-color: #FFFFFF;
}

.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffde00 65%);
  display: inline;
}
@tailwind components;

@tailwind utilities;

.container {
  @apply max-w-screen-xl mx-auto px-4;
}

@screen md {
  .container {
    @apply px-6;
  }
}

@screen lg {
  .container {
    @apply px-8;
  }
}

#image {
  width: 444px;
  height: 342px;
}

button  {
  @apply font-ibm-mono;
  font-weight: 600;
}

input[type="search"] {
  @apply  text-left font-ibm-mono px-4 py-[17px] rounded-lg appearance-none border-3 shadow-small-shadow border-black ;
  width: 100%;
  font-size: 0.9rem;
  height: 35px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input[type="search"] .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input[type="checkbox"] {
  @apply  w-3 h-3 text-sm text-gray-600 rounded-sm;

}


.ais-SearchBox-submit, .ais-SearchBox-reset {
  display: none;
}
.cta {
  @apply px-2 py-1 text-white bg-black border-2 border-black rounded-md font-ibm-mono;
}

.cta:hover {
  @apply text-black bg-white;
}

.ais-Hits-list {
 display: flex;
 flex-wrap: wrap;
 margin: -10px;
}

.ais-Hits-item{
  flex-basis: 25%;
padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-black font-ibm-serif;
}

p,  span {
  @apply text-black font-ibm-mono;
}

li {
  @apply text-black  font-sans;
}


#mobile-alg > div > a > svg {
  opacity: 100%;
  width:70px;
}

#mobile-alg > div > span {
  padding-left:20px;
}

#mobile-alg > div > a > svg > path:nth-child(4) {
  fill: #ffffff;
}

#power {
  height: 3.85rem;
}
input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;
    }


@media only screen and (max-width: 600px) {
  .ais-Hits-list {
    @apply grid-flow-row grid-cols-1;
  }
  .ais-Hits-item {
    flex-basis: 100%;
    padding: 7px;
  }
  input[type="search"] {
    @apply px-16 py-4 text-sm text-center text-black rounded-lg appearance-none shadow-orange bg-light-gray ;

  }
}


/* To hero, add background-image' */

#cow {
position: absolute;
background-image: url('/cow.png');
background-size: 5rem ;
background-repeat: no-repeat;
background-position: 48% 42%;
width: 100%;
height: 100%;
}

#bg {
  position: absolute;
  background-image: url('/clouds.png');
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: 80% 1%;
  margin-top: -78px;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#holes {
  background-image: url('/holes.png');
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: 1% 1%;
  width: 100%;
  height: 10rem;
}