/* Parent container for horizontal scrolling  */

/* Parent container for Dropdown Menu */
.ais-DropdownRefinementList-container {
    z-index: 998;
    cursor: pointer;
    position: relative;
    height: 100%;
  }
  
  .ais-DropdownRefinementList-List {
    padding: 20px;
    @apply bg-accent-gray text-light-gray font-semibold border-gradient-br-pink-red-yellow-accent-gray border-transparent border-solid border-1;
    position: absolute;
    bottom: 65px;
    margin-left: -50px;
    border-radius: 5%;
  }
  .ais-DropdownRefinementList-container:hover .ais-DropdownRefinementList-List {
    display: inline-block;
    transition-duration: 500ms;
  }
  .ais-DropdownRefinementList-title span {
    color: gray;
  }
  .ais-DropdownRefinementList-item-label {
    display: flex;
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
    flex-basis: calc(25% - 20px);
  }
  .ais-DropdownRefinementList-item-label span {
    padding: 0 5px;
  }
  .ais-DropdownRefinementList-item-label-desc {
    margin-left: 8px;
  }
  .ais-DropdownRefinementList-caret-down {
    display: none;
  }
  .ais-DropdownRefinementList-active-facets {
    @apply absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75;
    @apply relative inline-flex rounded-full h-3 w-3 bg-purple-500;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 800;
  }
  .ais-DropdownRefinementList-item-count {
    color: #999;
    font-size: 0.8em;
  }

  #tools > span > div > div.ais-DropdownRefinementList-List {
    margin-left: -50px;
    bottom: 70px;
  }

  #tabs > span:nth-child(2) > span > div > div.ais-DropdownRefinementList-List {
    margin-left: 0px;
    bottom: 70px;

  }

  #tabs > span:nth-child(1) > span > div > div.ais-DropdownRefinementList-List {
    margin-left: 12px;
    bottom: 70px;
  }